doctype html
html
  head
    meta(charset='utf8')
    link(rel='stylesheet' href='../style/popup.css')
  body
    div.popup-box
      button#formatJSON(type='button') 格式化JSON
      button.ml-10#reset(type='button') 还原
    script(src='../script/popup.js')